// PackCard
.card-outside {
  background-color: $light;
  width: 270px;
  color: $secondry-color;

  .card-body {
    padding: 20px;

    .card-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      .card-heading {
        font-size: 2em;
      }
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px $accent-color-shadow;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

//Swift Scroll
.well {
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
}

//VerticalSection
.vertical{
 display: flex;
 position: fixed;
 top: 0;
 right: 0;
 height: 100vh;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0 25px;
}

.tag{
  color: white;
  writing-mode: vertical-lr;
  font-size: 1em;
  margin: auto;
  cursor: pointer;
}

//Hover Hheader
.headerbox{
  background-color: $accent-color;
  box-shadow: 2px 5px 30px $accent-color-shadow;
}
