.card-outside {
  // background-color: #fcfcfc;
  background-image: linear-gradient(#89f7fe 0%, #66a6ff 100%);
  width: 270px;
  color: #fcfcfc;

  .card-body {
    padding: 20px;

    .card-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      .card-heading {
        font-size: 2em;
      }
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px 0 #8798ba;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
//Swift Scroll
.well {
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
}
