@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "base";
//Swift Scroll
body {
	margin: 0;
  font-family: 'Roboto Mono', monospace;
}

//Swift Scroll
.well {
	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}
.panel {
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
}

//Custom Styles
