//colors
$primary-color: #C3073F;
$primary-color2: #950750;
$primary-color3: #6F2232;

$secondry-color: #1A1A1D;
$secondry-color3: #4E4E50;

$light: #EAEAEA;

$accent-color: #13173A;
$accent-color-shadow: #0e112d;
